.site-inner{
  max-width: 760px;
  margin: 200px auto;
}

.app-main-form{
  position: relative;
}

.app-link-container:not(:first-child){
  margin: 20px 0 0 0;
}

.app-link-full{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.app-main-form__helper{
  margin: 20px 0 20px 0;
}

.app-main-form__slug{
  max-width: 350px;
  padding: 1px 15px 20px 15px;
}

.app-main-form__slug-wrapper{
  background: #eee;
  margin:20px 0 20px 0;
  border-radius: 5px;
}

.app-main-form__slug-warning{
  font-size: 13px;
  display: block;
  margin: 15px 0 0 0;
}